{% extends 'base.html' %}         <!-- Объявление, что будет использован шаблон base.html -->

{% block title %}
Обратная связь :: {{ block.super }}
{% endblock %}


<!-- Переопределение блоков content и sitebar  для конкретной страницы-->
{% block sitebar %}
{% include 'inc/_sitebar.html' %}    <!-- Подключение списка категорий-->
{% endblock %}

{% block content %}

<p>Обратная связь</p>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Send</button>

</form>

{% endblock %}
<!-- конец переопределения-->